NUXT_PUBLIC_PREVIEW_MODE=false
NUXT_PUBLIC_SLUG_DEFAULT_LENGTH=5
NUXT_SITE_TOKEN=kimchislap
NUXT_REDIRECT_STATUS_CODE=308
NUXT_LINK_CACHE_TTL=60
NUXT_REDIRECT_WITH_QUERY=false
NUXT_CF_ACCOUNT_ID=18457500ab58eacb8d60b0e8eaabad64
NUXT_CF_API_TOKEN=4KJIgTE9y_7mDYzJfr665nPxxW-udYvKV89KEVYq
NUXT_DATASET=obraa
NUXT_AI_MODEL="@cf/qwen/qwen3-30b-a3b-fp8"
NUXT_AI_PROMPT="You are a URL shortening assistant......"
NUXT_DISABLE_AUTO_BACKUP=false
NUXT_NOT_FOUND_REDIRECT=/your-own-404-page
NUXT_CASE_SENSITIVE=false
NUXT_LIST_QUERY_LIMIT=500
NUXT_DISABLE_BOT_ACCESS_LOG=false
